# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{kt, kts}]
ktlint_code_style = ktlint_official
indent_size = 4
max_line_length = 250

ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_condition-wrapping = disabled
ktlint_standard_function-literal = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_statement-wrapping = disabled
ktlint_standard_unnecessary-parentheses-before-trailing-lambda = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_condition-wrapping = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_function-naming = disabled
